<form style="margin:auto;width:600px;height: auto;" class="border p-4 rounded-3"> 
    
<div class="signupFrm" style="background-color:ivory">
    
    <div class="wrapper">
        <div class="signup-logo">
            <img src="/assets/Pics/momos.jpg">
        </div>
      <h2 class="title">Sign Up</h2>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Email</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Username</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Mobile</label>
      </div>

      <div class="inputContainer">
        <input type="password" class="input" placeholder="a">
        <label for="" class="label">Password</label>
      </div>

      <div class="inputContainer">
        <input type="password" class="input" placeholder="a">
        <label for="" class="label">Confirm Password</label>
      </div>

      <input type="submit" class="submitBtn" value="Sign up">
    </div>
</div>
</form>
